<form action="/checkout" method="post">
  <label for="item">Item: </label>
  <input type="text" id="item" name="item">
  <button type="submit" name="submit" value="submit">Put it in your cart!</button>
  <!-- item => value -->
</form>
